.button {
    cursor: pointer;
    font-family:"Montserrat", sans-serif;
}

.btn {
    border: 4px solid transparent;
    background-color:rgba(177, 88, 177, 0.543);
    color: #fff;
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px rgb(219, 103, 219);
    transition: box-shadow 0.3s ease;
    position: relative;
}

.btn:hover {
    box-shadow: 0px 0px 7px 15px rgb(221, 160, 221);
}

.btn-outline {
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-outline:hover {
    box-shadow: unset;
    color:rgb(221, 160, 221);
    background-color: #fff;
}