.footer {
  position: relative;
  padding: 2rem 2rem;
}
.footerContentContainer {
  max-width: 1000px;
}

.footerListItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: 600px) {
       grid-template-columns: repeat(2, 1fr);
    }

}

.footerListItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem;

  font-size: 0.75rem;
  font-weight: 600;

  & > * ~ * {
    margin-top: 1rem;
  }
}
